In [1]:

# QUESTION.1 Create a python program to sort the given list of tuples based on integer value using a lambda function.

# [('Sachin Tendulkar' , 34357), ('Ricky Ponting' , 27484), ('Jack kalllis' , 25534), ('Virat Kohli' , 24936)]

L = [('Sachin Tendulkar' , 34357), ('Ricky Ponting' , 27484), ('Jack kalllis' , 25534), ('Virat Kohli' , 24936)]
sorted_list = sorted(L , key = lambda L : L[1])

In [2]:
print(sorted_list)

[('Virat Kohli', 24936), ('Jack kalllis', 25534), ('Ricky Ponting', 27484), ('Sachin Tendulkar', 34357)]

In [3]:

# QUESTION.2 Write a python program to find the square of all the numbers in the given list of integers using lambda and 
# map functions.
# [1,2,3,4,5,6,7,8,9,10]

list_1= [1,2,3,4,5,6,7,8,9,10]
sq_num = list(map(lambda x: x**2 , list_1))

In [4]:
print(sq_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:

# QUESTION.3 Write the python program to convert the given list of integer into a tuple of strings. Use map and lambda 
# function 
# Given String : [1,2,3,4,5,6,7,8,9,10]
# Expected output : ('1','2','3','4','5','6','7','8','9','10')

In [6]:
L = [1,2,3,4,5,6,7,8,9,10]

In [7]:
a = tuple(map(lambda L :str(L),L))

In [9]:
print(a)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
from functools import reduce

In [11]:
#QUESTION.4 Write a python program using reduce function to compute the product of a list containing number from 1 to 25.
list_num = list(range(1,26))
compute_L = reduce(lambda x,y : x*y , list_num)

In [12]:
print(compute_L)

15511210043330985984000000

In [18]:
# QUESTION.5 Write a python programm to filter the number in a given list that are divisible by 2 and 3 using the filter 
# function.
# [2,3,6,9,27,60,90,120,55,46]
# ANSWER 
def test(number):
    return number % 2 == 0 and number % 3 == 0
L_num=[2,3,6,9,27,60,90,120,55,46]

filter_num = list(filter(test,L_num))

In [19]:
print(filter_num)

[6, 60, 90, 120]

In [28]:
# OUESTION.6 Write a python program to find palindrome in the given list of string using lambda and filter function.
['python','php','aba','radar','level']
# ANSWER  
def pali(w) :
    return w == w[::-1]
word_list = ['python','php','aba','radar','level']

palindrome = list(filter(lambda x:pali(x),word_list))

In [30]:
print("palindromes in the list: ",palindrome)

palindromes in the list:  ['php', 'aba', 'radar', 'level']